<div class="fr-fieldset__element">
  <div class="fr-radio-group">
    <input
      type="radio"
      id="idp-<%= provider.uid %>"
      name="identityProviderUid"
      value="<%= provider.uid %>"
    />
    <label class="fr-label" for="idp-<%= provider.uid %>">
      <%= provider.title %>
    </label>
  </div>
</div>
