@import '@fc/dsfr/styles.scss';
@import '@fc/dsfr/core/funcs/pixel-to-rem';

.user-history-card {
  .card-wrapper {
    border-bottom: 4px $blue-agentconnect solid;
    height: calc(100% - 24px);
    height: calc(100% - 1.5rem);
  }
}
