@import '@fc/dsfr/styles.scss';
@import '@fc/dsfr/core/funcs/pixel-to-rem';

.search-form {

  .search-input {
    @include rem(height, 40px);
    border-bottom: solid $blue-agentconnect 3px;
    border-top-left-radius: 0.25rem;
    outline: 0;
    background-color: $blue-france-100;
  }

  .search-button {
    @include rem(width, 40px);
    @include rem(height, 40px);
    border-top-right-radius: 0.25rem;

    b {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    .search-input, .search-button {
      @include rem(height, 56px);
    }

    .search-button {
      width: auto;
    }
  }
}
