.search-form {
  .search-input {
    border: solid #1890ff 1px;
    border-top-left-radius: 0.25rem;
    height: 60px;
    margin: 8px 0 0 0;
    padding: 18px 296px 18px 20px;
    width: 600px;
  }

  .search-button {
    background-color: #1890ff;
    border-top-right-radius: 0.25rem;
    color: #ffffff;
    height: 60px;
    margin: 8px 0 0 0;
    padding: 19px 36px 17px 31px;
    width: 210px;
  }
}
