body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: grid;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body .border-focus {
  border: solid 1px #26353f;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
}

header .header__logo-marianne {
  width: auto;
  height: 70px;
}

header .header__logo-fc-plus {
  width: auto;
  height: 50px;
  margin-left: 40px;
}

main {
  width: 100vw;
  padding: 32px 16px 80px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

main.anonymous {
  padding-top: 40px;
}

main section {
  color: #000091;
}

main section .section__welcome {
  font-size: 1rem;
  font-weight: 500;
  color: #3e4553;
  margin-bottom: 16px;
}

main section .section__identity {
  font-size: 2rem;
  font-weight: 800;
  word-break: break-word;
  margin-bottom: 32px;
  line-height: 1.2;
}

main section .section__identity span {
  text-transform: uppercase;
}

main section .section__more-info {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 32px;
  display: block;
  color: #68737a;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

main section .section__more-info:hover {
  color: #383a3b;
  text-decoration: underline;
}

main #fc-ask-consent {
  display: flex;
  align-items: flex-start;
}

main #fc-ask-consent input {
  box-sizing: border-box;
  background-clip: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 0.4em;
  width: 2.4em;
  height: 2.4em;
  border-radius: 0.1em;
  border: solid 1px #adadad;
  background-color: #ffffff;
  text-overflow: '';
  flex-shrink: 0;
  margin-right: 0.2em;
  margin-top: 0.2em;
  cursor: pointer;
}

main #fc-ask-consent input:checked {
  border: solid 1px #034ea2;
  background-color: #034ea2;
}

main .fc-ask-consent-label {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 0.95rem;
  line-height: 1.33;
  color: #26353f;
  max-width: 100%;
  cursor: pointer;
}

main form {
  width: 100%;
}

main .content__continue:disabled,
main .content__continue:disabled:hover {
  background-color: #838c9c;
  text-decoration: none;
  cursor: not-allowed;
}

main .content__continue {
  width: 100%;
  margin-bottom: 29px;
  padding: 20px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #000091;
  font-size: 1.06rem;
  font-weight: bold;
  cursor: pointer;
  white-space: normal;
  -webkit-appearance: none;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
}

main .content__continue:hover,
main .content__continue:focus {
  text-decoration: underline;
  background-color: #224ae0;
}

main .content__success {
  margin-bottom: 20px;
  font-size: 0.95rem;
  line-height: 1.33;
  color: #26353f;
  max-width: 439px;
}

main .content__details {
  border-radius: 4px;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #26353f;
  background-color: #f2f4ff;
  overflow: hidden;
}

main .content__details.open .content-details__header:hover {
  background-color: #e5edf5;
}

main .content__details.open .content-details__header:hover span {
  text-decoration: none;
}

main .content__details .fc-content-details-header-consent {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

main .content__details .fc-content-details-header-consent span {
  font-size: 0.95rem;
  color: #000091;
}

main .content__details .content-details__header {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

main .content__details .content-details__header:hover {
  background-color: #d7e5f3;
}

main .content__details .content-details__header span {
  font-size: 0.95rem;
  color: #000091;
}

main .content__details .content-details__header:hover span {
  text-decoration: underline;
}

/* before et after pour faire l'icone de fleche */
main .content__details .content-details__header:before {
  content: '';
  top: 25px;
  right: 30px;
  width: 2px;
  height: 12px;
  border-radius: 1px;
  background-color: #000091;
  transform: translateY(-50%) rotate(-50deg);
  position: absolute;
}

main .content__details .content-details__header:after {
  content: '';
  top: 25px;
  right: 22px;
  width: 2px;
  height: 12px;
  border-radius: 1px;
  background-color: #000091;
  transform: translateY(-50%) rotate(50deg);
  position: absolute;
}

main .content__details .content-details__content {
  padding: 0 16px 16px;
}

main .content__details .content-details__content p {
  font-size: 0.81rem;
  margin-bottom: 5px;
  line-height: 1.6;
}

main .content__details .content-details__content ul {
  list-style: disc;
  margin-left: 6px;
  padding-left: 12px;
  margin-bottom: 8px;
}

main .content__details .content-details__content ul li {
  font-size: 0.81rem;
  line-height: 1.6;
}

main .content__details .content-details__content a {
  color: #000091;
  font-size: 0.81rem;
  text-decoration: none;
}

main .content__details .content-details__content a:hover {
  text-decoration: underline;
}

main .content__details:not(.open) {
  height: 50px;
}

main .content__details:not(.open) span.open {
  display: none;
}

main .content__details.open .content-details__header span.close {
  display: none;
}

/* retourne l'icone de fleche à l'ouverture du détail des données transmises */
main .content__details.open .content-details__header:before {
  transform: translateY(-50%) rotate(50deg);
}

main .content__details.open .content-details__header:after {
  transform: translateY(-50%) rotate(-50deg);
}

@media screen and (min-width: 576px) {
  header {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
  }

  header .header__logo-marianne {
    height: 115px;
  }

  header .header__logo-fc-plus {
    height: 68px;
    margin-top: 12px;
  }

  main section .section__welcome {
    font-size: 1.5rem;
  }

  main section .section__identity {
    font-size: 2.5rem;
  }

  main #fc-ask-consent {
    padding: 0 2em 0 2em;
  }

  main .content__continue,
  main form {
    width: 460px;
  }

  main section .section__welcome,
  main section .section__identity {
    text-align: center;
  }

  main .content__details {
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) {
  main section {
    max-width: 600px;
  }

  main article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .content__continue {
    width: 460px;
  }
}

@media screen and (min-width: 992px) {
  main {
    padding: 0;
  }

  main.anonymous {
    padding-top: 80px;
  }

  main section {
    max-width: 800px;
  }
}
