/*
DSFR Breakpoints :
 - sm: 576px
 - md: 768px
 - lg: 992px
 - xl: 1440px
*/

/* -----------------------------------------------------------------

  GENERAL

----------------------------------------------------------------- */
.fc-text--title-mention-grey {
  color: var(--text-mention-grey);
}

.fc-text--title-blue-france {
  color: var(--text-title-blue-france);
}

.fc-btn--full-width {
  display: block;
  width: 100%;
}

.fr-collapse::before {
  display: inline !important;
}

/* -----------------------------------------------------------------

  Display

----------------------------------------------------------------- */

.fc-display--inline {
  display: inline;
}

/* -----------------------------------------------------------------

  TEXT ALIGN

----------------------------------------------------------------- */

.fc-text--left {
  text-align: left;
}

.fc-text--center {
  text-align: center;
}

@media (min-width: 768px) {
  .fc-text-md--left {
    text-align: left;
  }

  .fc-text-md--center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .fc-text-lg--left {
    text-align: left;
  }

  .fc-text-lg--center {
    text-align: center;
  }
}

/* -----------------------------------------------------------------

  GRID

----------------------------------------------------------------- */

@media (min-width: 62em) {
  .fr-col-offset-lg-0:not(.fr-col-offset-md-0--right) {
    /*
    @NOTE keep the :not selector
    .fr-col-offset-md-1, override this rule because of the :not priority
    */
    margin-left: 0;
  }
}

/* -----------------------------------------------------------------

  OVERRIDES

----------------------------------------------------------------- */
.fc-footer {
  /* CL-349 : change border coolor hack */
  box-shadow:
    inset 0 1px 0 0 var(--border-default-grey),
    inset 0 -1px 0 0 var(--border-default-grey);
}

.fc-footer .fr-container .fr-footer__bottom {
  /* CL-349 : remove border hack */
  box-shadow: inherit;
}


.fr-footer__bottom-link {
  white-space: nowrap;
}

button.fc-btn--as-link {
  padding-left: 0;
  padding-right: 0;
  display: inline;
  line-height: normal;
}

button.fc-btn--as-link:not(:disabled):hover {
  background-color: transparent;
  --underline-hover-width: var(--underline-max-width);
}

button.fc-btn--as-link {
  background-image: var(--underline-img), var(--underline-img);
  background-position:
    var(--underline-x) 100%,
    var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat, no-repeat;
  background-size:
    var(--underline-hover-width) calc(var(--underline-thickness) * 2),
    var(--underline-idle-width) var(--underline-thickness);
  transition: background-size 0s;
}
