*,
a {
  color: #034ea2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding: 8px 16px 0;
  max-width: 1120px;
  margin: 0 auto;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;
  color: #161616;
  margin-top: 3.5rem;
}

#error-wrapper {
  flex: 1 0 auto;
}

#error-code {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  color: #666666;
  margin-top: 1.5rem;
}

#error-message {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  color: #3a3a3a;
  margin-top: 1.5rem;
}

.detail-error-container p + p {
  margin-top: 16px;
}

#support-form-button {
  margin-top: 24px;
  height: 40px;
}

#form-link-button {
  background-color: #000091;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 8px 16px;
  display: block;
}

#form-link-button:hover {
  background-color: #1212ff;
  text-decoration: none;
}

#footer {
  flex-shrink: 0;
}

@media screen and (min-width: 576px) {
  #support-form-button {
    width: 288px;
  }

  #form-link-button {
    display: inline;
  }
}
