<footer id="footer">
  <nav class="footer-nav" - role="navigation">
    <ul>
      <li><a href="https://franceconnect.gouv.fr/cgu">Conditions Générales d’Utilisation</a></li>
      <li><a href="https://franceconnect.gouv.fr/mentions-legales">Mentions légales</a></li>
      <li><a href="https://franceconnect.gouv.fr/faq">Consultez notre FAQ</a></li>
    </ul>
  </nav>
</footer>
