<div id="numeric-identity" tabindex="-1" role="alertdialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-desc">
  <div id="popin">
    <div class="popin-inner">
      <h2 id="modal-title">Comment créer <br>son identité numérique</h2>
      <span id="popin-close" aria-label="Close" aria-describedby="">Masquer </span>
      <p id="modal-desc">
        Une identité numérique <strong>vous permet de prouver votre identité en ligne</strong>. 
        Elle contient <strong>vos informations d’identité vérifiées grâce à votre pièce d’identité</strong>. 
        Son utilisation <strong>nécessite une authentification forte</strong> (votre code secret vous sera demandé via une application mobile à chaque utilisation).
      </p>
      <p>
        Pour créer une identité numérique <strong>vous devez être majeur(e)</strong> et <strong>disposer d'un smartphone</strong> Android ou iPhone.
      </p>
      <ol class="steps">
        <li>
            Téléchargez l'application d'un des partenaires de FranceConnect+ disponible: L'Identité Numérique La Poste
        </li>
        <li>
            Inscrivez-vous chez ce partenaire grâce à votre pièce d'identité
            <span>
              Le processus de vérification de votre identité peut être long ou interrompre temporairement votre démarche.
            </span>
        </li> 
        <li>
            Choisissez le code confidentiel que vous utiliserez lors de vos démarches
        </li>
      </ol>
      <p><strong>C'est terminé !</strong> Vous pouvez désormais utiliser votre identité numérique sécurisée avec FranceConnect+</p>
    </div>
  </div>
</div>
