<!DOCTYPE html>
<html lang="en">
  <head role="banner">
    <meta charset="utf-8" />
    <title>Redirecting to FR node ProxyService...</title>
  </head>
  <body role="main">
    <p lang="en">
      Redirecting... If nothing happens in a few seconds, please click on
      "submit" to continue...
    </p>
    <form
      name="post-light-response-token"
      method="POST"
      action="<%= proxyServiceResponseCacheUrl %>"
    >
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="submit" />
    </form>

    <script type="text/javascript">
      window.onload = function onload() {
        document.forms['post-light-response-token'].submit();
      };
    </script>
  </body>
</html>
