<h1 data-testid="error-section-title">
  Une erreur s’est produite
</h1>
<% if (locals.error.code) { %>
  <p class="fr-text--sm" data-testid="error-code">
    Erreur <%= locals.error.code %>
  </p>
<% } %>
