<% if (locals.aidantsConnect) { %>
<li class="fr-footer__bottom-item">
  <form action="/api/v2/redirect-to-idp" method="POST" class="interaction-main-content-form fc-display--inline" name="fs-request">
    <button
      role="link"
      class="fr-footer__bottom-link fc-btn--as-link"
      data-testid="footer-aidants-connect-link">
      Vous&nbsp;êtes&nbsp;un&nbsp;aidant&nbsp;professionnel
    </button>
    <%-
    include('pages/interaction/interaction.provider-inputs.ejs', {
      provider: locals.aidantsConnect
    })
    %>
  </form>
</li>
<% } %>
