<li class="fr-footer__bottom-item">
  <a class="fr-footer__bottom-link" href="https://franceconnect.gouv.fr/franceconnect">
    <%= $translate('footer.more_info', { platform: $config('App.platform') }) %>
  </a>
</li>
