<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-fr-scheme="system" dir="ltr">
  <head>
    {% include "templates/head.njk" %}
  </head>

  <body id="top">
    <div class="sticky-body">
      <div class="sticky-content">
        {% include "templates/header.njk" %}
        <main id="content">{{ content | safe }}</main>
      </div>
      {% include "templates/footer.njk" %}
    </div>
    {% include "templates/display.njk" %}
    {% js "body" %}
    <script>
      const SEARCH_RESULTS_URL = "{{ '/search-results/' | htmlBaseUrl }}";
    </script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="module" src="/js/dsfr.module.min.js"></script>
    <script
      type="text/javascript"
      nomodule
      src="/js/dsfr.nomodule.min.js"
    ></script>
    {% endjs %}
    {% getBundle "js",
    "body" %}
  </body>
</html>