<main role="main" class="fr-container fr-col-12 fr-col-md-10 fr-col-lg-12">
  <h1 class="fr-h5 fr-mb-5w fc-text-align--left-md-center" data-testid="anonymous-title">Vous allez vous connecter de façon anonyme</h1>

  <form class="fr-mb-8w fc-text--center" method="post" action="/api/v2/login">
    <button type="submit" class="fr-btn fr-btn--lg fc-btn--full-width" data-testid="consent-continue">
      Continuer sur <%= locals.spName %> 
    </button>
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
  </form>

  <section class="fc-text-align--left-md-center fc-text--title-mention-grey" role="complementary" data-testid="anonymous-complementary">Aucune donnée personnelle ne sera transmise</section>
</main>
