<h1 class="fr-h4 fr-mb-3w fc-text-align--left-md-center">Vous allez vous connecter en tant que&nbsp;:</h1>

<h2 class="fr-h1 fr-mb-5w fc-text-align--left-md-center fc-text--title-blue-france" data-testid="identity-fullname-label">
  <%= locals.identity.given_name %> <%= locals.identity.family_name.toUpperCase() %>
</h2>
