<div class="fr-mb-8w fc-text-align--left-sm-center">
  <a href="#" class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-btn--icon-left fr-icon-arrow-go-back-fill">
    Ce n’est pas vous ? Retournez à la page d’accueil
  </a>
</div>
