<footer role="contentinfo">
  <nav class="footer-nav" role="navigation">
    <a lang="fr" href="https://franceconnect.gouv.fr/cgu">Conditions Générales d’Utilisation</a>
    <a lang="fr" href="https://franceconnect.gouv.fr/mentions-legales">Mentions légales</a>
    <a lang="fr" href="https://franceconnect.gouv.fr/faq">Consultez notre FAQ</a>
  </nav>
</footer>