<nav role="navigation">
  <div class="menu-container">
      <div class="logos-container">
          <a href="/">
            <img id="marianne-logo" src="/img/marianne-logo.svg" alt="Page d'accueil - République Française">
          </a>
          <a href="/">
            <img id="fc-plus-logo" src="/img/logo-fc-plus.svg" alt="FranceConnect+">
          </a>
      </div>
      <div class="previous-link-container">
          <a class="previous-link" href="<%-params.redirect_uri%>?error=access_denied&error_decriptions=User%20auth%20aborted">
            <div class="previous-link-icon"></div>
            <span lang="fr">Revenir à l'écran précédent</span>
          </a>
      </div>
  </div>
</nav>
