<div class="fr-col-12 fr-col-md-10 fr-col-lg-10 fr-col-offset-lg-1 fc-text--left fc-text-lg--center">
  <h1 class="fr-text--lg fr-mb-1w fr-text--regular">
    <%= $translate('interaction.connecting_to', { spName }) %>
  </h1>
  <h2 class="fr-h3 fr-mb-0">
    <%= $translate('interaction.choose_provider') %><br>
  </h2>
</div>
