<%# In the meantime, while waiting to have other message display mechanisms, we also condition it with the FI name. %>
<% if (locals.errorContext.hasError && locals.errorContext.idpLabel) { %>
  <div class="fr-col-12 fr-col-lg-8 fr-col-offset-lg-2">
    <section class="fr-alert fr-alert--error" id="interaction-error-banner" role="alert" tabindex="-1">
      <p data-testid="interaction-error-message">
       <%# This translation contains HTML markup so we use the unsafe ejs echo tag %> 
       <%- $translate('interaction.idp_connexion_failed', { idpName: locals.errorContext.idpLabel }, { escapeVariables: true }) %>
      </p>
    </section>
  </div>
<% } %>
