<% if (locals.spScope === 'openid') { %>
<p class="fr-badge fr-badge--info fr-mb-2w" data-testid="anomymous-identification">
    <%=$translate('interaction.anonymous_no_personal_data') %>
</p>
<% } %>
