<% if (locals.spScope === 'openid') { %>
<p class="fr-badge fr-badge--info fr-mb-2w" data-testid="anomymous-identification">
    Vous allez continuer de façon anonyme, aucune donnée personnelle ne sera transmise
</p>
<% } %>
