<a href="https://github.com/france-connect/sources/blob/main/docker/volumes/fcp-low/mocks/idp/databases/citizen/base.csv"
  target="_blank" rel="noreferrer noopener">
  Je choisis parmi les identités de test disponibles
</a>
