version: "3.4"

####################
####################
services:
  ####################
  # Eidas bridge
  ####################
  eidas-bridge:
    hostname: eidas-bridge
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      - "csmr-hsm"
      - "redis-pwd"
      - "broker"
      - "squid"
    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
      - "${VOLUMES_DIR}/eidas/databases/insee:/var/databases"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/eidas/.env/bridge.env"
    ports:
      - 9243:9243
    tty: true
    networks:
      - public
      - data
      - eidas
    command: "pm2 logs"
