version: "2.4"

####################
####################
services:
  all-eidas-high:
    image: alpine
    depends_on:
      - "all-fcp-high"
      - "eidas-bridge"
      - "eidas-fr"
      - "eidas-mock"
      - "eidas-be"
  min-eidas-high:
    image: alpine
    depends_on:
      - "min-fcp-high"
      - "eidas-bridge"
      - "eidas-fr"
      - "eidas-mock"
      - "eidas-be"
