.title {
  color: var(--text-active-blue-france);
}

.tutoriel {
  width: 100%;

  @media screen and (min-width: 992px) {
    width: 350px;
  }

  > img {
    border: 2px solid var(--border-active-blue-france);
    border-radius: 8px;
  }
}
