<% if (locals.config?.Core?.supportFormCodes?.includes(locals.code)) { %>
  <%
  const { OidcClient } = locals.session;
  const sp_name = OidcClient?.spName || locals.spName;
  const idp_name = OidcClient?.idpLabel || OidcClient?.idpName;

  const params = {
    platform: locals.config.App?.name,
    error_code: locals.code,
    sp_name,
    idp_name,
    error_id: locals.id,
  };

  const queryString = Object.entries(params).reduce((acc, [key, value]) => {
    const separator = acc === '' ? '?' : '&';
    return value ? `${acc}${separator}${key}=${encodeURIComponent(value)}` : acc;
  }, '');

  const href = `${locals.config.Core.supportFormUrl}${queryString}`;
  %>
  <a
    href="<%= href %>"
    rel="noreferrer noopener"
    data-testid="form-link-container"
    class="fr-btn fr-btn--lg fr-mt-md-10v fr-mt-6v"
    title="Naviguer vers le formulaire d'aide"
  >
    Formulaire d’aide
  </a>
<% } %>
