<section class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
  <div class="fr-col-sm-12 fr-col-md-10 fr-col-lg-10 fr-col-xl-8">
    <div
      data-testid="information-notification"
      class="fr-callout fr-mt-md-13v fr-mt-7w"
    >
      <h3 class="fr-callout__title">
        <%= $translate('consent.information_block_title') %>
      </h3>
      <p class="fr-callout__text">
        <%= $translate('consent.information_block_content') %>
      </p>
    </div>
  </div>
</section>
