<button
  type="submit"
  class="fr-btn fr-btn--lg fc-btn--full-width fc-text--center"
  data-testid="consent-continue"
  aria-disabled="<%= disabled ? 'true' : 'false' %>"
  <%= disabled ? 'disabled' : '' %>>
  <%= $translate('consent.continue_to_sp', { spName }) %>
</button>
