<%

const claimsGroups = $groupByDataProvider(claims);

%>
<div class="fr-accordion">
  <h3 class="fr-accordion__title">
    <button
      data-testid="consent-accordion-toggle"
      class="fr-accordion__btn"
      aria-expanded="<%= !!locals.consentRequired %>"
      aria-controls="accordion-consent">
      Données transmises
    </button>
  </h3>
  <div class="fr-collapse" id="accordion-consent">

    <div>
    <% Object.values(claimsGroups).forEach((group) => { %>

         <p class="fr-mb-0"><strong>Informations récupérées depuis <%= group[0].provider.label%></strong></p>

         <ul data-testid="consent-detail">
          <%# last minute sort to avoid unnecessary loops %>
         <% group.sort($claimOrder).forEach((claim) => { %>
            <li>
              <%= claim.label %>
            </li>
          <% })%>
         </ul>

      <% }) %>

    </div>
  </div>
</div>
