<div class="fr-checkbox-group fr-mb-md-2w fr-mb-3w">
  <input
    type="checkbox"
    data-testid="checkbox-consent"
    id="consent"
    name="consent"
    aria-label="consent"
  />
  <label class="fr-label" data-testid="label-consent" for="consent">
    <%= $translate('consent.data_transfer_consent', { platform: $config('App.platform') }) %>
  </label>
  <p id="checkbox-error-desc-error" class="fr-error-text" hidden>
    <%= $translate('consent.consent_checkbox') %>
  </p>
</div>
<%# hidden input to prove that the user accepted consent %>
<input type="hidden" name="accept" value="1" aria-label="accept" />
