<% if (locals.isOpenIdScope) { %>
<h1
  class="fr-h5 fr-mb-0 fc-text--left fc-text-lg--center"
  data-testid="anonymous-title">
  <%= $translate('consent.login_anonymously')%>
</h1>

<% } else { %>
<h1 class="fr-h4 fr-mb-3w fc-text--left fc-text-lg--center">
  <%= $translate('consent.login_as') %>
</h1>
<h2
  class="fr-h1 fr-mb-0 fc-text--left fc-text-lg--center fc-text--title-blue-france"
  data-testid="identity-fullname-label">
  <%= locals.identity.given_name %> <%= locals.identity.family_name.toUpperCase() %>
</h2>
<% } %>
