<!doctype html>
<html lang="fr">
  <head>
    <%- include('includes/head') %>
    <title><%= locals.titleFront %></title>
  </head>
  <body>
    <%- include('includes/menu') %>

    <section class="welcome">
      <div class="container text-center">
        <h1>Le token a été révoqué</h1>
      </div>
    </section>

    <%- include('includes/footer') %>
  </body>
</html>
