.container {
  left: 20px;
  top: -10px;
}

// @NOTE CSS Module file, unable to use kebab-case
// stylelint-disable-next-line selector-class-pattern
.badgeFranceConnect {
  background-color: var(--background-flat-info);
}

// @NOTE CSS Module file, unable to use kebab-case
// stylelint-disable-next-line selector-class-pattern
.badgeFranceConnectPlus {
  background-color: var(--background-action-high-blue-france);
}
