{% if not accordionItems %}
  {% set accordionItems = params.items %}
{% endif %}
<div class="fr-accordions-group">
  {% for accordionItem in accordionItems %}
    <section class="fr-accordion">
      <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{ loop.index }}">
          {{ accordionItem.title }}
        </button>
      </h3>
      <div class="fr-collapse" id="accordion-{{ loop.index }}">
        {{ accordionItem.content | safe }}
      </div>
    </section>
  {% endfor %}
</div>