{% if not callout %}
  {% set callout = params %}
{% endif %}
<div class="fr-callout">
  <h3 class="fr-callout__title">{{ callout.title }}</h3>
  <p class="fr-callout__text">
    {{ callout.description | safe }}
  </p>
  {% if callout.link %}
    <a class="fr-btn" href="{{ callout.link.url }}">
      {{ callout.link.title }}
    </a>
  {% endif %}
</div>