{% if not quote %}
  {% set quote = params %}
{% endif %}
<figure class="fr-quote fr-quote--column">
  <blockquote{% if quote.sourceUrl %} cite="{{ quote.sourceUrl }}"{% endif %}>
    <p>«&nbsp;{{ quote.text }}&nbsp;»</p>
  </blockquote>
  <figcaption>
    <p class="fr-quote__author">{{ quote.author }}</p>
    <ul class="fr-quote__source">
      <li>
        <cite>{{ quote.source }}</cite>
      </li>
    </ul>
    <div class="fr-quote__image">
      <img src="{{ quote.imageSrc }}" class="fr-responsive-img" alt=""/>
    </div>
  </figcaption>
</figure>