{% if not table %}
  {% set table = params %}
{% endif %}
<div class="fr-table fr-table--layout-fixed">
  <table>
    <caption>{{ table.title }}</caption>
    <thead>
      <tr>
        {% for header in table.headers %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.data %}
        <tr>
          {% for col in row %}
            <td>{{ col }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>