@import '@fc/dsfr/styles.scss';
@import '@fc/dsfr/core/funcs/pixel-to-rem';

.identity-provider-card {
  max-width: 100%;

  .title {
    line-height: 1;
  }

  & .disabled {
    background: $blue-agentconnect;
    opacity: 0.5;
  }

  .card-wrapper {
    height: calc(100% - 24px);
    height: calc(100% - 1.5rem);
    border-bottom: 4px $blue-agentconnect solid;
  }

  .form-title {
    color: $g700;
    font-family: 'Montserrat', sans-serif;
  }

  .form-button {
    color: $blue-agentconnect;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    @include rem(max-width, 343px);
    width: 33.3%;
  }
}
