@import '@fc/dsfr/styles.scss';

.identiy-provider-card {
  max-width: 260px;
  width: 100%;

  .title {
    line-height: 1;
  }

  & .disabled {
    background: $blue-agentconnect;
    opacity: 0.5;
  }

  .card-wrapper {
    border: 2px #1890ff solid;
    border-radius: 0.25rem;
    box-shadow: 0 0 9px -2px #2e94fa;
  }

  .form-title {
    color: #3e4553;
    font-family: 'Montserrat', sans-serif;
  }

  .form-button {
    color: #1890ff;
    font-size: 1rem;
    text-decoration: underline;
  }
}
