body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  background: #eaeff3;
  font-size: 16px;
  margin: 0;
  text-align: center;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
  box-sizing: border-box;
}

#mire .header-logo {
  margin: 20px auto;
}

#container {
  padding: 5em 0;
  max-width: 800px;
  background: #ffffff;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
}

#container .title {
  font-weight: bold;
  margin: 0 0 3em;
  font-size: 1.25em;
}

#container .inner {
  width: 80%;
  margin: 0 auto;
}

#container .inner form {
  display: block;
}

#container .inner form label,
#container .inner form button,
#container .inner form label span,
#container .inner form label input {
  display: block;
}

#container .inner form label {
  margin-top: 2em;
}

#container .inner form label span {
  margin-bottom: 0.5em;
}

#container .inner form label input {
  width: 100%;
  outline: none;
  padding: 8px 14px;
  font: inherit;
  line-height: 1.6;
  color: #1c1c1c;
  border-radius: 3px;
  border: 1px solid #adb9c9;
  background: #fff;
  vertical-align: middle;
  position: relative;
}

#container .inner form label input:focus {
  border-color: #006be6;
  border-radius: 3px;
}

#container .inner form button {
  width: 80%;
  display: block;
  color: #ffffff;
  font: inherit;
  font-weight: bold;
  padding: 8px 14px;
  background: #0c54b2;
  line-height: 2.22;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
  margin: 2em auto 0 auto;
}

#container .inner form button:hover {
  background: #0053b3;
}
