<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <a role="link" aria-disabled="true">
                <p class="fr-logo">
                  République
                  <br />Française
                </p>
              </a>
            </div>
          </div>
          <div class="fr-header__service">
            <a href="/" title="Accueil - DataPass">
              <p class="fr-header__service-title"><em>(Mock)</em> DataPass</p>
              <p class="fr-header__service-tagline">Habilitations juridiques</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
