/* general layout */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'content illu';
  align-items: center;
  justify-items: center;
}

/* onboarding layout container */

.onboarding-container > *:first-child {
  grid-area: content;
  max-width: 35rem;
  width: 100%;
  padding: 2.5rem 2rem;
}

.onboarding-container > *:last-child {
  grid-area: illu;
  background-color: var(--background-default-grey-hover);
}

@media (max-width: 62em) {
  .onboarding-container > *:first-child {
    padding: 1rem;
  }
}

@media all and (max-width: 992px) {
  .onboarding-container {
    grid-template-columns: 100%;
    grid-template-areas: 'content';
  }

  .onboarding-container > *:first-child {
    padding: 2.5rem 1rem;
  }

  .onboarding-container > *:last-child {
    display: none;
  }
}

.centered-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fix main overflow on footer on safari browser */
/* https://stackoverflow.com/questions/62075401/safari-grid-in-flexbox-produces-height-overflow */
/* selector for safari 9+ (see https://browserstrangeness.bitbucket.io/css_hacks.html#safari) */
@supports (-webkit-hyphens: none) {
  html,
  body,
  main {
    height: 100%;
  }

  main {
    z-index: 1;
  }
}
