<div data-testid="tutoriel" class="fr-callout fr-mt-md-13v fr-mt-7w">
  <p class="fr-callout__text">
    If your country is grayed out, then the cross-border authentification is not available yet.
    If this is the case, then please go back to the service and use another way to login.
    Your country will become available in the future.
  </p>
  <a
    href="https://ec.europa.eu/digital-single-market/en/learn-about-eidas"
    rel="noreferrer noopener"
    target="_blank"
    class="fr-btn">
    Learn more about eIDAS regulation
  </a>
</div>
