<%

const sortedNames = [
  'family_name',
  'preferred_username',
  'given_name',
  'gender',
  'birthdate',
  'birthplace',
  'birthcountry',
  'address',
  'email',
  'phone_number',
];

const labels = sortedNames
  .map((claimName) => 
    claims.find(
      ({ identifier }) => identifier === claimName
  ))
  .filter((claim) => claim)
  .map(({ label }) => label);

%>

<ul data-testid="consent-detail">
  <% labels.forEach((label) => { %>
   <li><%= label %></li>
  <% }); %>
</ul>
