<dialog id="loading-modal" class="fr-modal" aria-labelledby="modal-0-title" data-fr-concealing-backdrop="false">
  <div class="fr-container fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <h2 id="modal-0-title" class="fr-modal__title fr-modal-title__flex">
            <span class="fr-icon-time-fill fr-icon--lg" aria-hidden="true"></span>
            <span><%= $translate('loading_modal.redirecting') %></span>
            <span><%= $translate('loading_modal.wait') %></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</dialog>
