<div class="fr-skiplinks">
  <nav
    role="navigation"
    aria-label="<%= $translate('skiplinks.quick_access') %>"
    class="fr-container"
  >
    <ul class="fr-skiplinks__list">
      <li>
        <a class="fr-link" href="#main-content"
          ><%= $translate('skiplinks.content') %></a
        >
      </li>
      <li>
        <a class="fr-link" href="#footer"
          ><%= $translate('skiplinks.footer') %></a
        >
      </li>
    </ul>
  </nav>
</div>
