@import '@fc/dsfr/styles.scss';
@import '@fc/dsfr/core/funcs/pixel-to-rem';

.ministry-result {
  border-bottom-style: solid;
  border-color: $blue-france-100;
  @include rem(border-width, 1px);
}

.ministry-name {
  font-weight: 700;
}

.fi-name {
  @include rem(margin-bottom, 16px);
}

.text-center {
  text-align: center;
}

.button-style {
  text-decoration: underline;
}
