**/build/*
**/cypress/*
**/coverage/*

# @TODO delete this rule
# replace by an estlint overrides rule
# {
# "files": ["jest.config.js"],
# "rules": {
# "@typescript-eslint/naming-convention": 0,
# }
# },
#
jest.config.js
