.sandboxContainer {
  background-color: var(--background-alt-grey);
}

.accordion {
  background-color: var(--background-default-grey);
}

.accordionTitle {
  font-weight: 600;
}

.accordionTitle:hover {
  background-color: var(--background-default-grey) !important;
  font-weight: 600;
}

.accordionTitle[aria-expanded='true'] {
  color: var(--text-title-blue-france);
}

.addConfigButton:hover {
  background-color: var(--background-default-grey-active) !important;
}
