.menu-container {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logos-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fc-plus-logo {
  width: 120px;
}

#marianne-logo {
  width: 78px;
}

.previous-link-container {
  width: 100%;
  background-color: #e5edf5;
  border-radius: 4px;
  display: flex;
  margin-top: 24px;
  padding: 8px;
}

.previous-link {
  font-size: 0.9rem;
  color: #3e4553;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.previous-link-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("../img/retour-icone-gris.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.previous-link span {
  font-size: 11px;
  color: #3e4553;
}

@media screen and (min-width: 576px) {

  .menu-container {
    margin: 32px;
  }

  .logos-container {
    width: 30%;
    max-width: 326px;
  }

  .logos-container a + a {
    margin-left: 40px;
  }

  .previous-link-container {
    width: auto;
    background-color: transparent;
    border-radius: 0;
    justify-content: center;
    margin-top: 0;
  }

  .previous-link span {
    font-size: 14px;
    color: #000091;
  }

  .previous-link:hover {
    text-decoration: underline;
  }

  .previous-link-icon {
    border-radius: 4px;
    border: solid 1px #000091;
    background-image: url("../img/retour-icone.svg")
  }
}

@media screen and (min-width: 768px) {
  #fc-plus-logo {
    width: 159px;
  }

  #marianne-logo {
    width: 127px;
  }
}