<% 
const notProvided = "non renseigné"
const errorMessage = locals.error.message ?? notProvided;
const errorCode = locals.error.code ?? notProvided; 
const FI = $session('OidcClient.idpName') ?? notProvided;
const errorId = locals.error.id ?? notProvided;
const FS = $session('OidcClient.spName') ?? notProvided;
const messageToDisplay = "Bonjour, je vous signale que j'ai rencontré une erreur dont le code est : " + errorCode + " et dont le message d'erreur est : " + errorMessage  + ". L'id de l'erreur est : " + errorId + ". Je souhaitais me connecter à : " + FS + ". Mon fournisseur d'identité est : " + FI + "." ;
%>
<section class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-lg-8 fr-col-md-7 fr-col-sm-12">
    <div class="fr-mb-8w">
      <h1 data-testid="error-section-title" class="fr-mb-3w">Accès impossible</h1>

      <p>
        Nous n'arrivons pas à vous connecter à votre service en ligne pour l'instant.
      </p>

      <% if (locals.error.code) { %>
        <p class="fr-text--xs fr-mt-0 fr-mb-1v" data-testid="error-code">
          code erreur : <%= locals.error.code %>
        </p>
      <% } %>
    
      <% if (locals.error.message) { %>
        <p class="fr-text--xs fr-mt-0 fr-mb-1v" data-testid="error-message">
          message erreur : "<%= locals.error.message %>".
        </p>
      <% } %>
    </div>

    <hr>

    <div class="fr-pt-1w">
      <p class="fr-text--sm">
        Vous pouvez nous signaler cette erreur en nous écrivant.
      </p>
    </div>

    <p class="fr-btn fr-btn--tertiary">
      <a class="mailto" href="mailto:support@agentconnect.gouv.fr?subject=Signaler l'erreur <%= locals.error.code %> sur AgentConnect&body=<%= messageToDisplay %>">
        Signaler l'erreur
        <span class="fr-icon-flag-line fr-pl-1v" aria-hidden="true"></span>
      </a>
    </p>
  </div>
  
  <aside class="fr-col-lg-4 fr-col-md-5 error-aside">
    <img src="/img/default-error.svg" alt="error illustration" />
  </aside>
</section>
