<h1 class="main-title">Une erreur technique est survenue lors de la connexion.</h1>
<div class="list-container">
  <h2>Que faire ?</h2>
  <ul>
    <li>
      Fermez l’onglet de votre navigateur et reconnectez-vous en cliquant sur le bouton FranceConnect.
    </li>
    <li>
      Contactez le support FranceConnect si le problème persiste en utilisant notre formulaire d’aide.
    </li>
  </ul>
  <h2>Besoin d'aide ?</h2>
  <p>Pour contacter le service support FranceConnect, merci d’utiliser notre formulaire.</p>
</div>
