<h1 class="main-title">Une erreur s'est produite</h1>
<% if(locals.code){%><p id="error-code">Erreur <%= locals.code %></p><%}%> 
<% if(locals.message){%><p id="error-message"><%= locals.message %></p><%}%> 
