---
layout: layouts/page.njk
---

{# List every content page in the project #}
<ul>
  {% for entry in collections.all %}
    {% if entry.url %}
      <li>
        <a href="{{ entry.url }}">
          <code>{{ entry.url }}</code>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>