<footer class="fr-footer" role="contentinfo" id="footer" tabindex="-1">
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        <a
          href="/users/start-sign-in"
          title="Retour à l’accueil (déconnexion)"
          aria-label="Retour à l’accueil (déconnexion)"
        >
          <span class="fr-logo">
            République<br />
            Française
          </span>
        </a>
      </div>
      <div class="fr-footer__content">
        <ul class="fr-footer__content-list">
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="legifrance.gouv.fr - nouvelle fenêtre"
              href="https://legifrance.gouv.fr"
              >legifrance.gouv.fr</a
            >
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="info.gouv.fr - nouvelle fenêtre"
              href="https://info.gouv.fr"
              >info.gouv.fr</a
            >
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="service-public.fr - nouvelle fenêtre"
              href="https://service-public.fr"
              >service-public.fr</a
            >
          </li>
          <li class="fr-footer__content-item">
            <a
              class="fr-footer__content-link"
              target="_blank"
              rel="noopener external"
              title="data.gouv.fr - nouvelle fenêtre"
              href="https://data.gouv.fr"
              >data.gouv.fr</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            target="_blank"
            rel="noopener external"
            title="AgentConnect aide - nouvelle fenêtre"
            href="https://agentconnect.gouv.fr/aide"
            >Aide</a
          >
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            target="_blank"
            rel="noopener external"
            title="AgentConnect - nouvelle fenêtre"
            href="https://agentconnect.gouv.fr/"
            >À propos</a
          >
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            target="_blank"
            rel="noopener external"
            title="AgentConnect politique de confidentialité - nouvelle fenêtre"
            href="https://agentconnect.gouv.fr/cgu#confidential"
          >
            Politique de confidentialité
          </a>
        </li>
        <li class="fr-footer__bottom-item">
          <a
            class="fr-footer__bottom-link"
            target="_blank"
            rel="noopener external"
            title="AgentConnect conditions générales d’utilisation - nouvelle fenêtre"
            href="https://agentconnect.gouv.fr/cgu"
          >
            Conditions générales d’utilisation
          </a>
        </li>
        <li class="fr-footer__bottom-item fr-footer__bottom-link">
          Accessibilité : non conforme
        </li>
      </ul>
      <div class="fr-footer__bottom-copy">
        <p>
          Sauf mention contraire, tous les contenus de ce site sont sous
          <a
            href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
            target="_blank"
            title="Etalab - nouvelle fenêtre"
            rel="noopener noreferrer"
            >licence etalab-2.0</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
