<%- include('includes/notice-proconnect.ejs') %>
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                République
                <br />Française
              </p>
            </div>
            <div class="fr-header__navbar">
              <button
                class="fr-btn--menu fr-btn fr-mr-7v"
                data-fr-opened="false"
                aria-controls="menu-navigation"
                aria-haspopup="menu"
                id="button-navigation"
              >
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <p class="fr-header__service-title">ProConnect</p>
            <p class="fr-header__service-tagline">
              la solution officielle qui vous identifie en tant que
              professionnel.
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <a
                  class="fr-btn fr-icon-question-fill"
                  target="_blank"
                  href="https://agentconnect.crisp.help/fr/"
                  >Aide</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fr-header__menu fr-modal"
    id="menu-navigation"
    aria-labelledby="button-navigation"
  >
    <div class="fr-container">
      <button class="fr-btn--close fr-btn" aria-controls="menu-navigation">
        Fermer
      </button>
      <div class="fr-header__menu-links"></div>
    </div>
  </div>
</header>
