<div class="fr-notice fr-notice--info ac-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title ac-notice__title"
          >AgentConnect devient ProConnect !</span
        >
        <a
          target="_blank"
          rel="noopener external"
          title="ProConnect landing - nouvelle fenêtre"
          href="https://www.proconnect.gouv.fr"
          class="fr-notice__link"
          >En savoir plus</a
        >
      </p>
    </div>
  </div>
</div>
