@import '@fc/dsfr/styles';

:root {
  --blue-agent-connect: #000091;
  --blue-agent-connect-hover: #1212ff;
  --blue-agent-connect-active: #2323ff;

  /* overrides */
  --blue-france-sun-113-625: var(--blue-agent-connect);
  --blue-france-sun-113-625-hover: var(--blue-agent-connect-hover);
  --blue-france-sun-113-625-active: var(--blue-agent-connect-active);
}

:root[data-fr-theme='dark'] {
  --blue-agent-connect: #000091;
  --blue-agent-connect-hover: #1212ff;
  --blue-agent-connect-active: #2323ff;

  /* overrides */
  --blue-france-sun-113-625: var(--blue-agent-connect);
  --blue-france-sun-113-625-hover: var(--blue-agent-connect-hover);
  --blue-france-sun-113-625-active: var(--blue-agent-connect-active);
}
