<% if (locals.notifications) { %>
<section class="fr-notice fr-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p class="fr-notice__title">
        <%= locals.notifications.message %>
      </p>
    </div>
  </div>
</section>
<% } %>
