<%
locals.providers
  .filter(p => p.display)
  .filter(p => p.uid !== $config('App.aidantsConnectUid'))
  .forEach((provider) => {
%>
  <form action="/api/v2/redirect-to-idp" method="POST" class="interaction-main-content-form" name="fs-request">
    <%- include('pages/interaction/interaction.provider.ejs', { provider }) %>
    <%- include('pages/interaction/interaction.provider-inputs.ejs', { provider }) %>
  </form>
<% }); %>

