<h1 class="fr-text--lg fr-mb-1w fc-text-align--left-md-center fc-text--no-bold fc-text--title-default-grey fr-text--regular">
  Connexion en cours sur <%= locals.spName %>
</h1>
<h2 class="fr-h3 fr-mb-0 fc-text-align--left-md-center">
  Choisissez un compte pour vous connecter&nbsp;:<br>
</h2>
