services:
  partners-back:
    hostname: partners-back
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      redis-pwd:
        condition: service_healthy
      postgres:
        condition: service_started
      broker:
        condition: service_started
      squid:
        condition: service_started
      partners-post-deploy:
        condition: service_completed_successfully
    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/partners-back.env"
    networks:
      - public
      - data
    init: true
    command: "pm2 logs"

  partners-front:
    hostname: partners-front
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      partners-back:
        condition: service_started
    volumes:
      - "${VOLUMES_DIR}/src/fc/front:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/log:/var/log/app"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/partners-front.env"
    networks:
      - public
    init: true
    command: "pm2 logs"

  csmr-config-sandbox-low:
    hostname: csmr-config-sandbox-low
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      broker:
        condition: service_started
      mongo-fcp-low-replica-single-init:
        condition: service_completed_successfully

    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/csmr-config-sandbox-low.env"
      - "${COMPOSE_DIR}/fcp-low/.env/mongo-fcp-low.env"
    networks:
      - data
    init: true
    command: "pm2 logs"

  csmr-config-partners:
    hostname: csmr-config-partners
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      broker:
        condition: service_started
      postgres:
        condition: service_started
    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/csmr-config-partners.env"
    networks:
      - data
    init: true
    command: "pm2 logs"

  mock-datapass:
    hostname: mock-datapass
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/mock-datapass.env"
    networks:
      - public
    init: true
    command: "pm2 logs"

  partners-post-deploy:
    hostname: partners-post-deploy
    image: ${FC_DOCKER_REGISTRY}/post-deploy:dev
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/partners/.env/partners-post-deploy.env"
    volumes:
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
      - "${VOLUMES_DIR}/src/fc/back/fixtures:/tmp/build/fixtures"
      - "${VOLUMES_DIR}/src/fc/back/migrations:/tmp/build/migrations"
    networks:
      - data
    depends_on:
      postgres:
        condition: service_started
    command: ["partners"]
