services:
  partners:
    image: alpine
    depends_on:
      - "partners-front"
      - "partners-back"
      - "mock-proconnect"
      - "mock-datapass"
      - "csmr-config-sandbox-low"
      - "csmr-config-partners"

  bdd-partners:
    image: alpine
    depends_on:
      # -- PARTNERS
      - "partners"

  import-sandbox:
    image: alpine
    depends_on:
      - "partners"
      - "mongo-fcp-high"
      # Initialisation containers
      - mongo-fcp-high-replica-single-init
