<div data-testid="tutoriel" class="fr-callout fr-mt-md-13v fr-mt-7w">
  <h3 class="fr-callout__title">
    Pourquoi je ne retrouve pas mes comptes habituels ?
  </h3>
  <p class="fr-callout__text">
    Avec FranceConnect+, seul certains comptes sont disponibles afin d’assurer un niveau de sécurité élevé lors de votre connexion. Pour continuer votre parcours de connexion, veuillez créer un compte sur l’un des services disponibles.
  </p>
  <a
    href="https://franceconnect.gouv.fr/france-connect-plus"
    rel="noreferrer noopener"
    target="_blank"
    class="fr-btn">
    En savoir plus
  </a>
</div>
