<%
locals.providers
  .filter(p => p.display).filter(p => p.uid !== $config('App.eidasBridgeUid'))
  .forEach(provider => {
%>
  <li>
    <form
      action="/api/v2/redirect-to-idp"
      method="POST"
      class="interaction-main-content-form"
      name="fs-request"
      data-testid="fs-request-<%= provider.uid %>"
      <%= provider.active ? 'data-prevent-double-submit' : '' %>
    >
      <%- include('pages/interaction/provider/interaction.provider.ejs', { provider }); %>
      <%- include('pages/interaction/provider/interaction.provider-inputs.ejs', { provider }) %>
    </form>
  </li>
<% }) %>
