<%
locals.providers
  .filter(p => p.display).filter(p => p.uid !== $config('App.eidasBridgeUid'))
  .forEach(provider => {
%>
  <form
    action="/api/v2/redirect-to-idp"
    method="POST"
    class="interaction-main-content-form"
    name="fs-request"
    data-testid="fs-request-<%= provider.uid %>">
    <%- include('pages/interaction/provider/interaction.provider.ejs', { provider }); %>
    <%- include('pages/interaction/provider/interaction.provider-inputs.ejs', { provider }) %>
  </form>
<% }) %>
