<div data-testid="tutoriel" class="fr-callout fr-mt-md-13v fr-mt-7w">
  <h3 class="fr-callout__title"><%= $translate('interaction.tuto.title') %></h3>
  <p class="fr-callout__text"><%= $translate('interaction.tuto.body') %></p>
  <a
    href="https://franceconnect.gouv.fr/france-connect-plus#creer-identite-numerique"
    rel="noreferrer noopener"
    target="_blank"
    class="fr-btn"
  >
    <%= $translate('interaction.tuto.link') %>
  </a>
</div>
