<section class="connect bg-light">
  <h2>Liens</h2>
  <ul>
    <li>
      <a href="https://github.com/numerique-gouv/proconnect-documentation/blob/main/README.md">
        Documentation générale de ProConnect
      </a>
    </li>

    <li>
      <a href="https://github.com/france-connect/sources/tree/main/back/apps/mock-service-provider/src">
        Voir le code source du fournisseur de service
      </a>
    </li>

    <li>
      <a href="https://github.com/france-connect/sources/tree/main/back/apps/mock-identity-provider/src">
        Voir le code source du fournisseur d'identité
      </a>
    </li>

    <li>
      <a href="https://github.com/france-connect/sources/tree/main/back/apps/mock-data-provider/src">
        Voir le code source du fournisseur de données
      </a>
    </li>
  </ul>
</section>
