####################
####################
services:
  ####################
  # Core FCP High
  ####################

  core-fcp-high:
    hostname: core-fcp-high
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      csmr-hsm:
        condition: service_started
      mongo-fcp-high-replica-single-init:
        condition: service_completed_successfully
      redis-sentinel:
        condition: service_healthy
      broker:
        condition: service_started
      squid:
        condition: service_started
      haproxy:
        condition: service_started
      mock-rnipp:
        condition: service_started
    volumes:
      - "${VOLUMES_DIR}/src/fc/back:/var/www/app"
      - "${VOLUMES_DIR}/app:/opt/scripts"
      - "${VOLUMES_DIR}/log:/var/log/app"
      - "${VOLUMES_DIR}/.home:/home"
      - "${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro"
    env_file:
      - "${COMPOSE_DIR}/shared/.env/base-app.env"
      - "${COMPOSE_DIR}/fcp-high/.env/core.env"
    tty: true
    networks:
      - public
      - data
    init: true
    command: "pm2 logs"
