version: '3.4'

####################
####################
services:
  ####################
  # Core FCP High
  ####################

  core-fcp-high:
    hostname: core-fcp-high
    image: ${FC_DOCKER_REGISTRY}/nodejs:${NODE_VERSION}-dev
    user: ${CURRENT_UID}
    working_dir: /var/www/app
    depends_on:
      - 'csmr-hsm'
      - 'mongo-fcp-high'
      - 'redis-pwd'
      - 'broker'
      - 'squid'
      - 'haproxy'
    volumes:
      - '${VOLUMES_DIR}/src/fc/back:/var/www/app'
      - '${VOLUMES_DIR}/app:/opt/scripts'
      - '${VOLUMES_DIR}/log:/var/log/app'
      - '${VOLUMES_DIR}/.home:/home'
      - '${VOLUMES_DIR}/ssl:/etc/ssl/docker_host:ro'
    env_file:
      - '${COMPOSE_DIR}/shared/.env/base-app.env'
      - '${COMPOSE_DIR}/fcp-high/.env/core.env'
    ports:
      - 9235:9235
    tty: true
    networks:
      - fc
      - data
    command: 'pm2 logs'
