<div
  class="fr-notice fr-notice--info ac-background-alt-blue-france ac-color-alt-grey fr-my-8v"
>
  <div class="fr-container">
    <div class="fr-notice__body">
      <p class="fr-notice__title">
        Avec
        <a class="ac-alt-high-blue-france" href="https://agentconnect.gouv.fr/"
          >AgentConnect</a
        >, connectez-vous à tous vos outils interministériels, en une fois, avec
        un seul compte !
      </p>
    </div>
  </div>
</div>
