<div
  class="fr-callout ac-callout fr-icon-information-line ac-icon-information-line ac-background-alt-blue-france"
>
  <p class="fr-callout__text">
    Avec ProConnect, connectez-vous aux sites de l'administration, en une fois,
    avec un seul compte&nbsp;!
  </p>
</div>
