#page-container {
  max-width: 992px;

  &:not(.large-container) {
    max-width: 768px;
  }
}

.is-blue-shadow {
  // @TODO cette couleur n'existe pas dans le DSFR
  box-shadow: 0 0 7px -2px #66a1e4;
}
