<dialog
  id="fr-theme-modal"
  class="fr-modal"
  role="dialog"
  aria-labelledby="fr-theme-modal-title"
>
  <div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
        <div class="fr-modal__body">
          <div class="fr-modal__header">
            <button
              class="fr-btn--close fr-btn"
              aria-controls="fr-theme-modal"
              title="{{ i18n.close }}"
            >
              {{ i18n.close }}
            </button>
          </div>
          <div class="fr-modal__content">
            <h1 id="fr-theme-modal-title" class="fr-modal__title">
              {{ display.display_params }}
            </h1>
            <div id="fr-display" class="fr-display">
              <div class="fr-form-group">
                <fieldset class="fr-fieldset">
                  <legend
                    class="fr-fieldset__legend fr-text--regular"
                    id="-legend"
                  >
                    {{ display.pick_theme }}
                  </legend>
                  <div class="fr-fieldset__content">
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="light"
                        type="radio"
                        id="fr-radios-theme-light"
                        name="fr-radios-theme"/>
                      <label class="fr-label" for="fr-radios-theme-light">
                        {{ display.light_theme }}
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="fr-artwork"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                        >
                          <use class="fr-artwork-decorative" xlink:href="{{
                          "/artwork/light.svg#artwork-decorative" | htmlBaseUrl
                          }}"/>
                          <use class="fr-artwork-minor" xlink:href="{{
                          "/artwork/light.svg#artwork-minor" | htmlBaseUrl }}"/>
                          <use class="fr-artwork-major" xlink:href="{{
                          "/artwork/light.svg#artwork-major" | htmlBaseUrl }}"/>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="dark"
                        type="radio"
                        id="fr-radios-theme-dark"
                        name="fr-radios-theme"/>
                      <label class="fr-label" for="fr-radios-theme-dark">
                        {{ display.dark_theme }}
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="fr-artwork"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                        >
                          <use class="fr-artwork-decorative" xlink:href="{{
                          "/artwork/dark.svg#artwork-decorative" | htmlBaseUrl
                          }}"/>
                          <use class="fr-artwork-minor" xlink:href="{{
                          "/artwork/dark.svg#artwork-minor" | htmlBaseUrl }}"/>
                          <use class="fr-artwork-major" xlink:href="{{
                          "/artwork/dark.svg#artwork-major" | htmlBaseUrl }}"/>
                        </svg>
                      </div>
                    </div>
                    <div class="fr-radio-group fr-radio-rich">
                      <input
                        value="system"
                        type="radio"
                        id="fr-radios-theme-system"
                        name="fr-radios-theme"/>
                      <label class="fr-label" for="fr-radios-theme-system">
                        {{ display.system }}
                        <span class="fr-hint-text"
                          >{{ display.use_system_params }}</span
                        >
                      </label>
                      <div class="fr-radio-rich__img">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="fr-artwork"
                          width="80px"
                          height="80px"
                          viewBox="0 0 80 80"
                        >
                          <use class="fr-artwork-decorative" xlink:href="{{
                          "/artwork/system.svg#artwork-decorative" | htmlBaseUrl
                          }}"/>
                          <use class="fr-artwork-minor" xlink:href="{{
                          "/artwork/system.svg#artwork-minor" | htmlBaseUrl
                          }}"/>
                          <use class="fr-artwork-major" xlink:href="{{
                          "/artwork/system.svg#artwork-major" | htmlBaseUrl
                          }}"/>
                        </svg>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</dialog>