<nav class="fr-nav" id="navigation-494" role="navigation" aria-label="{{ i18n.main_menu }}">
  {% set navigationLinks = collections.all | eleventyNavigation %}
  <ul class="fr-nav__list">
    {% for link in navigationLinks %}
      {% set linkUrl = link.url %}
      <li class="fr-nav__item">
        {% if not link.children | length %}
          <a class="fr-nav__link"
            href="{{ linkUrl }}"
            {% if linkUrl == page.url %} aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
        {% else %}
          <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-{{ loop.index }}">
            {{ link.title }}
          </button>
          <div class="fr-collapse fr-menu" id="menu-{{ loop.index }}">
            <ul class="fr-menu__list">
              {% for sublink in link.children %}
                <li>
                  {% set sublinkUrl = sublink.url or sublink.externalUrl %}
                  <a class="fr-nav__link"
                    href="{{ sublinkUrl }}"
                    {% if sublink.externalUrl %} rel="noreferrer noopener" {% endif %}
                    {% if sublink.externalUrl %} target="_blank"{% endif %}
                    {% if sublinkUrl == page.url %} aria-current="page"{% endif %}>
                    {{ sublink.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>